@import './_variables'

*
    padding: 0
    margin: 0
    font-family: 'MuseoModerno', sans-serif
   
.first-screen
    width: 100vw
    height: 650px
    background: url('../assets/img/bg_1.jpg') center / cover no-repeat
    padding-top: 21px
    .header
        display: flex
        justify-content: center
        .header__logo
            display: flex
            align-items: center
            width: 250px
            img
                width: 41px
                filter: brightness(0) invert(1)
            .header__logo-titles
                margin-left: 10px
                .titles-title
                    font-size: 21px
                    line-height: 25px
                    color: $white
                .titles-subtitle
                    font-size: 12px
                    color: $white
        .header__info
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            color: $white
            .header__info-title
                font-weight: 500
                font-size: 12px
                line-height: 12px
            .header__info-subtitle
                margin-top: 7px
                font-weight: 500
                font-size: 18px
                line-height: 29px
        .header__contacts
            display: flex
            flex-direction: column
            align-items: flex-end
            .number
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 18px
                text-decoration: none
                color: white
            .call-button
                width: 153px
                height: 32px
                display: flex
                align-items: center
                justify-content: center
                background-color: $red
                color: $white
                text-transform: uppercase
                font-weight: 500
                font-size: 12px
                line-height: 12px
                border-radius: 5px
                margin-top: 4px
    .first-screen__info

        .info__titles
            display: flex
            flex-direction: column
            text-align: right
        .info__icons
            display: flex
            .icons__timer
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
            .icons__delivery
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
            .icons__answer
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center